body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

span.Watch-Products {
    display: block;
    text-align: center;
    margin-top: 8%;
    //margin-bottom: 4em;
    .link {
        border-radius: 25px;
        color: #f7cf18;
        background-color: #201E1E;
        padding: 0.3em 0.8em;
        box-sizing: border-box;
    }
}

.Content {
    // margin: 0 10%;
    width: 100%;
}

.Big-font {
    font-size: 9vw;
    color: #fdf1b9;
    line-height: 6vw;
    letter-spacing: 0px;
    margin-bottom: 0;
}

p,
h4 {
    font-size: 16px;
    font-weight: 500;
}

h3[class*="title"] {
    font-size: 34.4px;
}

.Products,
.Us,
.Components,
.Company,
.Contact,
.Location,
.Product,
.Table {
    background-color: #f7cf18;
}


/*
*{
    border: 1px solid blue;
}
body{
    border: 1px solid black;
}*/