body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

span.Watch-Products {
    display: block;
    text-align: center;
    margin-top: 8%;
}

span.Watch-Products .link {
    border-radius: 25px;
    color: #f7cf18;
    background-color: #201E1E;
    padding: 0.3em 0.8em;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.Content {
    width: 100%;
}

.Big-font {
    font-size: 9vw;
    color: #fdf1b9;
    line-height: 6vw;
    letter-spacing: 0px;
    margin-bottom: 0;
}

p,
h4 {
    font-size: 16px;
    font-weight: 500;
}

h3[class*="title"] {
    font-size: 34.4px;
}

.Products,
.Us,
.Components,
.Company,
.Contact,
.Location,
.Product,
.Table {
    background-color: #f7cf18;
}


/*
*{
    border: 1px solid blue;
}
body{
    border: 1px solid black;
}*/

.Article {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    background-color: #fdf1b9;
    overflow: hidden;
}

.Article-grid {
    position: relative;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto 2.1875em auto;
    grid-template-rows: auto 2.1875em auto;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    width: 100%;
    justify-items: right;
}

.Article .Banner {
    width: 100%;
    position: relative;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
}

.Article .Banner-image {
    width: 100%;
}

.Article .Banner-title {
    top: 0%;
    left: 0%;
    display: inline-block;
    position: absolute;
    font-size: 4vw;
    color: #FFFFFF;
    background-color: #343232;
    opacity: 0.91;
    margin: 0;
    padding: 8% 43% 0% 8%;
    height: 100%;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.Article .Banner h1.Background-none {
    background-color: transparent;
}


/*
.Article .Products {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2 / 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-width: 32em;
    width: 67.2%;
    -ms-flex-item-align: end;
    align-self: flex-end;
    margin-bottom: 10%;
}

.Article .Products-image {
    display: inline-block;
    position: relative;
    width: 50%;
    margin: 0;
    left: -5%;
}

.Article .Products-image .Big-image {
    width: 100%;
}

.Article .Products .Products-subtitle {
    width: 50%;
    border-bottom: 3px solid black;
    font-weight: 700;
    text-align: center;
    margin: 0;
    line-height: 2em;
}

.Article .Products .Products-title {
    width: 100%;
    position: relative;
    left: -5%;
}

.Article .Products .Products-text {
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 5%;
    margin: 0;
    width: 50%;
    font-size: 16px;
}

.Article .Products .Products-tag {
    margin: 0.5em auto 0;
}

.Us {
    width: 71%;
    min-width: 32em;
    min-height: 55.9%;
    height: 55.9%;
    -ms-flex-item-align: start;
    align-self: flex-start;
    position: relative;
}

.Us-tag {
    position: absolute;
    left: 0%;
    -webkit-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
    -webkit-transform-origin: 10% 19%;
    transform-origin: 10% 19%;
    font-size: 7.7vw;
}

.Us-title {
    position: relative;
    top: -1.3em;
    margin: 0;
    padding-right: 16vw;
    margin-left: 1.5vw;
}

.Us-text {
    border-left: 3px solid black;
    padding-left: 0.5em;
    margin-bottom: 2em;
    padding-right: 16vw;
    margin-left: 1.5vw;
}

.Us-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    position: relative;
    left: 18.4vw;
    width: 80vw;
    height: 100%;
}

.Us-content .Us-video {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0;
    padding-bottom: 0;
}

.Us-content .Us-video video {
    -ms-flex-item-align: end;
    align-self: flex-end;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .Us-title {
        position: relative;
        top: 0;
        margin: 0;
        margin-top: 3%;
        padding-right: 16vw;
        margin-left: 1.5vw;
    }
}

.Article section.No-flex {
    display: inline-block;
}

.Article .Products {
    margin-bottom: 11%;
    width: 65%;
}

.Article .Products-outLeft {
    width: 119.7%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    right: 19.7%;
}

.Article .Products-outLeft .Products-images {
    width: 9.7%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    margin-left: 1.8%;
    margin-right: 5%;
}

.Article .Products-outLeft .Big-image {
    width: 39.9%;
    height: auto;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.Article .Products-outLeft .small {
    position: relative;
    width: 100%;
    margin: 0;
    display: inline;
    padding: 0;
}

.Article .Products-outLeft .small:nth-of-type(2) {
    margin: 16.2% 0;
}

.Article .Products-outLeft .Products-text {
    position: relative;
    width: 41.5%;
    padding-right: 5%;
    font-size: 16px;
}

.Article .Products-tag {
    position: relative;
    text-align: center;
}

.Article .Products .Right-tag {
    font-size: 5.625vw;
    color: #fdf1b9;
    line-height: 49.75px;
}

.Article .Components {
    width: 77.5%;
    min-width: 32em;
    min-height: 60vw;
    height: 60%;
    -ms-flex-item-align: start;
    align-self: flex-start;
    position: relative;
}

.Article .Components-tag {
    color: #FFFFFF;
    font-size: 5.625vw;
    position: absolute;
    left: 0%;
    -webkit-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
    -webkit-transform-origin: 4% 52%;
    transform-origin: 4% 52%;
}

.Article .Components .Long-tag {
    color: #fdf1b9;
    -webkit-transform-origin: 8% 12%;
    transform-origin: 8% 12%;
}

.Article .Components-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    top: -4em;
    left: 13.05%;
    width: 75%;
    height: 100%;
}

.Article .Components-text {
    margin-top: 0;
    font-size: 16px;
    width: 100%;
    max-width: 40em;
    min-width: 63%;
}

.Article .Components-image {
    width: 63%;
}

.Article .Hidraulic {
    -ms-flex-item-align: center;
    align-self: center;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    width: 85.3%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

.Article .Hidraulic-title {
    width: 100%;
    text-align: center;
}

.Article .Hidraulic-text {
    width: 85%;
    font-size: 16px;
}

.Article .Hidraulic-product {
    width: 35%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
}

.Article .Hidraulic-product .product-title {
    font-size: 27.5;
    font-weight: 700;
}

.Article .Hidraulic-product .product-image {
    width: 100%;
}

.Article .Hidraulic span.Watch-Products {
    margin-bottom: 4em;
}

.Article .Lifting {
    width: 67%;
}

.Article .Lifting-image {
    left: -10%;
}

.Article .Lifting .Products-text {
    font-size: 16px;
}

.Article .Tools .Hidraulic-product {
    width: 23.3333%;
    min-width: 10em;
    padding: 0.5em;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.Article .Tools .Hidraulic-product .product-title {
    height: 50%;
}

@media screen and (max-width: 768px) {
    .Article .Products-outLeft {
        width: 100%;
        right: 5%;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .Article .Products-outLeft .Big-image {
        width: 70%;
    }
    .Article .Products-outLeft .Products-images {
        width: 17%;
    }
    .Article .Products-outLeft .Products-text {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        padding-right: 0;
        margin-top: 2em;
        left: 6%;
    }
}

.Article section.Company {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2 / 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-column-align: left;
    justify-self: left;
    position: relative;
    width: 80%;
    display: inline-block;
    font-size: 5.625vw;
    min-height: 7em;
    padding-bottom: 5%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.Article section.Company .Company-content {
    width: 82.2%;
    margin-left: 13%;
}

.Article section.Company .Company-content .Company-text {
    font-size: 16px;
}

.Article section.Company .Company-tag {
    color: #fdf1b9;
    font-size: 5.625vw;
    -webkit-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
    -webkit-transform-origin: 8% 43%;
    transform-origin: 8% 43%;
    position: absolute;
}

.Article .Values {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.Article .Values .Company-mission,
.Article .Values .Company-vision {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    width: 71.5%;
    position: relative;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 5% 0;
}

.Article .Values .Company-mission img,
.Article .Values .Company-vision img {
    width: 19.5%;
    min-width: 6.5625em;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.Article .Values .Company-mission .Values-content,
.Article .Values .Company-vision .Values-content {
    margin-top: 5%;
    border-left: 0.2em solid black;
    padding-left: 2.8%;
    margin-left: 7.9%;
    width: 72%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

.Article .Values .Company-mission .Values-content .vision-title,
.Article .Values .Company-mission .Values-content .mission-title,
.Article .Values .Company-vision .Values-content .vision-title,
.Article .Values .Company-vision .Values-content .mission-title {
    margin-top: 0;
}

.Article .Values .Company-vision {
    margin-top: 0;
}

.Article .Values .vision-text,
.Article .Values .mission-text {
    font-size: 16px;
}


.Product {
    width: 78%;
    position: relative;
    padding-bottom: 5%;
    margin-bottom: 5%;
}

.Product-outContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 118.2%;
    margin-top: 8%;
}

.Product .Div-images {
    position: relative;
    display: inline-block;
    width: 29%;
}

.Product .Div-images .small {
    width: 30%;
    margin: 0;
    padding: 0;
}

.Product-images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.Product-image {
    width: 100%;
}

.Product-title {
    margin-top: 0.5em;
}

.Product-text {
    display: inline-block;
    width: 59.7%;
}

.Product-text p {
    font-size: 16px;
} */

.Table {
    width: 84.4%;
    -ms-flex-item-align: center;
    align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    padding-top: 5%;
    margin-bottom: 5%;
    padding-bottom: 5%;
}

.Table table {
    width: 89.9%;
    border-collapse: collapse;
}

th {
    background-color: #201e1e;
    color: #f7cf18;
    height: 8em;
    font-weight: 500;
}

td {
    height: 4em;
    width: 13.5%;
    background-color: #ffffff;
    border-left: 1px solid #777777;
    border-right: 1px solid #777777;
}

tr {
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

td:first-child {
    width: 19%;
}


/*# sourceMappingURL=style.css.map */