.Article{
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    background-color: #fdf1b9;
    .Banner{
        width: 100%;
        position: relative;
        &-image{
            width: 100%;
        }
        &-title{
            top: 0%;
            left: 0%;
            display: inline-block;
            position: absolute;
            font-size: 55px;
            color: #FFFFFF;
            background-color: #343232;
            opacity: 0.91;
            margin: 0;
            padding: 8% 30% 0% 8%;
            height: 100%;
            width: 100%;
            box-sizing: border-box;
        }
    }
    .Products, .Us{
        background-color: #f7cf18;
    }
    .Products{
        position: relative;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        width: 67.2%;
        align-self: flex-end;
        margin-bottom: 10%;
        .normal-img{
            display: inline-block;
            position: relative;
              width: 50%;     
              margin: 0;
              left: -5%;
        }
        .Products-subtitle{
            padding: 0 15%;
            border-bottom: 3px solid black;
            text-align: center;
        }
        .Products-title{
            width: 100%;
            font-size: 30px;
            position: relative;            
            left: -5%;
        }
        .Products-text{
            display: inline-block;
            box-sizing: border-box;
            padding-right: 5%;
            margin: 0;
            width: 50%;
        }
        .Products-tag{
            margin-bottom: 0;            
            margin: 0.5em auto 0;
        }
    }
    .Us{
        width: 70%;
        align-self: flex-start;
        
    }
}