.Article{
    section.No-flex{
        display: inline-block;
    }
    .Products{
        margin-bottom: 11%;
        width: 65%;
        &-outLeft{
            width: 116%;
            display: flex;
            flex-flow: row nowrap;
            position: relative;    
            align-items: center;        
            right: 16%;           
            .Products-images{
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-between;
                height: 100%;
                position: relative;
                border: 1px solid black;
                margin-left: 3%;
                margin-right: 5%;
            }
            .Big-image{
                width: 40%;  
                height: auto;              
                position: relative;                
                box-sizing: border-box;
            }
            .small{
                position: relative;
                width: 100%;
                margin: 0;
                display: inline;
                padding: 0;
            }
            .Products-text{
                position: relative;
                width: 49%;
                padding-right: 7%;
                font-size: 16px;
            }

        }
        &-tag{
            position: relative;
            //font-size: 68.75px;
            text-align: center;
        }
    }
    .Components{
        width: 77.5%;
        min-height: 55.9%;
        height: 55.9%;
        align-self: flex-start;
        position: relative;    
        &-tag{
            color: #FFFFFF;
            font-size: 68.75px;
            position: absolute;     
            left: 0%;   
            transform: rotateZ(90deg);
            transform-origin: 10% 19%;
        }
        &-content{    
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            position: relative;
            top: -4em;
            left: 13.05%;
            width: 75%;
            height: 100%;
        }
        &-text{
            margin-top: 0;
            font-size: 16px;
            width: 100%;
            max-width: 40em;
            min-width: 63%;
        }
        &-image{
            width: 63%;
        }
    }
    .Hidraulic{
        align-self: center;
        position: relative;
        display: flex;
        flex-flow: row wrap;        
        width: 85.3%;
        box-sizing: border-box;
        justify-content: space-evenly;
        &-title{
            width: 100%;
            text-align: center;
        }
        &-text{
            width: 85%;
            font-size: 16px;
        }
        &-product{
            width: 35%;
            position: relative;
            display: flex;
            flex-flow: column nowrap;
            .product-title{
                font-size: 27.5;
                font-weight: 700;
            }
            .product-image{
                width: 100%;
            }
        }
        span.Watch-Products{
            margin-bottom: 4em;
        }
    }
    .Lifting{
        width: 67%;
        &-image{
            left: -10%;
        }
        .Products-text{
            font-size: 16px;
        }
    }
    .Tools{
        .Hidraulic-product{
            width: 23.3333%;
            justify-content: flex-end;
            .product-title{
                height: 50%;
            }
        }
    }
}
