body {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

.Content {
  width: 100%;
}

.Big-font {
  font-size: 110px;
  color: #fdf1b9;
  line-height: 82px;
  letter-spacing: 0px;
  margin-bottom: 0;
}

p {
  font-size: 24px;
  font-weight: 500;
}

h3[class*="title"] {
  font-size: 34.4px;
}

.Header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin: 0 6%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
}

.Header-logo {
  width: 19%;
}

.Header .Navigation {
  position: relative;
  width: 81%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.Header-items {
  width: 70%;
  font-weight: bold;
  font-size: 24px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0;
}

.Header-item {
  margin: 0;
  padding: 0 6% 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.Header-link:link, .Header-link:visited {
  color: #201E1E;
}

.Header-search {
  position: relative;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 30px;
  border-radius: 15px;
  background-color: #d2d2d2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
}

.Header-search input, .Header-search button {
  background-color: #d2d2d2;
  border: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.Header-search input::-webkit-input-placeholder {
  color: #8e8e8e;
}

.Header-search input:-ms-input-placeholder {
  color: #8e8e8e;
}

.Header-search input::-ms-input-placeholder {
  color: #8e8e8e;
}

.Header-search input::placeholder {
  color: #8e8e8e;
}

.Header-search input {
  color: #8e8e8e;
  font-weight: bold;
  font-size: 24px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 80%;
}

.Header-search button {
  color: #8e8e8e;
  display: inline-block;
  position: relative;
  margin-left: 0.5em;
  margin-right: 0.5em;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.Footer {
  position: relative;
  width: 100%;
}

.Footer-image {
  width: 100%;
}

.Footer .Test {
  color: #FFFFFF;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: absolute;
  background-color: #3f3e3e;
  opacity: 91%;
  padding-bottom: 3em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.Footer-link:link, .Footer-link:visited {
  color: #FFFFFF;
}

.Footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding-right: 6%;
}

.Footer-social p {
  width: 100%;
  margin-bottom: 0;
  display: inline-block;
}

.Footer-items {
  margin: 0;
  padding: 0;
}

.Footer-item {
  display: inline;
  font-size: 40px;
  padding-right: 0.3em;
}

.Footer-EnerpackImage {
  width: 22%;
  padding-left: 6%;
}

/*
*{
    border: 1px solid blue;
}
body{
    border: 1px solid black;
}*/
.Article {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  background-color: #fdf1b9;
}

.Article .Banner {
  width: 100%;
  position: relative;
}

.Article .Banner-image {
  width: 100%;
}

.Article .Banner-title {
  top: 0%;
  left: 0%;
  display: inline-block;
  position: absolute;
  font-size: 55px;
  color: #FFFFFF;
  background-color: #343232;
  opacity: 0.91;
  margin: 0;
  padding: 8% 30% 0% 8%;
  height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.Article .Products, .Article .Us {
  background-color: #f7cf18;
}

.Article .Products {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 47em;
  width: 67.2%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 10%;
}

.Article .Products .normal-img {
  display: inline-block;
  position: relative;
  width: 50%;
  margin: 0;
  left: -5%;
}

.Article .Products .Products-subtitle {
  padding: 0 15%;
  border-bottom: 3px solid black;
  text-align: center;
  margin-bottom: 0;
}

.Article .Products .Products-title {
  width: 100%;
  position: relative;
  left: -5%;
}

.Article .Products .Products-text {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 5%;
  margin: 0;
  width: 50%;
}

.Article .Products .Products-tag {
  margin: 0.5em auto 0;
}

.Us {
  width: 71%;
  min-height: 48em;
  height: 48em;
  -ms-flex-item-align: start;
      align-self: flex-start;
  position: relative;
}

.Us-tag {
  position: absolute;
  left: 0%;
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
  -webkit-transform-origin: 10% 19%;
          transform-origin: 10% 19%;
}

.Us-title {
  position: relative;
  top: -5%;
  margin: 0;
  margin-bottom: auto;
}

.Us-text {
  border-left: 3px solid black;
  padding-left: 0.5em;
  margin-bottom: 2em;
}

.Us-text, .Us-title {
  padding-right: 18%;
  margin-left: 3%;
}

.Us-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  left: 27.5%;
  width: 113%;
  height: 100%;
}

.Us-content .Us-video {
  width: 100%;
}

.Us-content .Us-video video {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */