.Article{
    section.Company{        
        grid-row: 2 / 4;
        grid-column: 1 / 2;
        justify-self: left;
        position: relative;
        width: 80%;
        display: inline-block;                 
        font-size: 5.625vw;
        min-height: 7em;
        padding-bottom: 5%;
        box-sizing: border-box;
        .Company-content{
            width: 82.2%;
            margin-left: 13%;

            .Company-text{
                font-size: 16px;
            }
        }
        .Company-tag{
            color: #fdf1b9;            
            font-size: 5.625vw;
            transform: rotateZ(90deg);
            transform-origin: 8% 43%;
            position: absolute;
        }
    }
    .Values{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;  
        .Company-mission, .Company-vision{
            display: flex;
            flex-flow: row wrap;
            width: 71.5%;
            position: relative;
            justify-content: center;
            margin: 5% 0;
            img{
                width: 19.5%;
                min-width: pxToem(16, 105) * 1em;
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }
            .Values-content{                      
                margin-top: 5%;
                border-left: 0.2em solid black;
                padding-left: 2.8%;
                margin-left: 7.9%;
                width: 72%;
                box-sizing: border-box;
                position: relative;
                .vision-title, .mission-title{
                    margin-top: 0;
                }
            }
        }
        .Company-vision{
            margin-top: 0;
        }
        .vision-text, .mission-text{
            font-size: 16px;
        }
    }
}