.Product{
    width: 78%;
    position: relative;
    padding-bottom: 5%;
    margin-bottom: 5%;
    &-outContent{
        display: flex;
        justify-content: space-around;
        width: 118.2%;
        margin-top: 8%;
    }
    .Div-images{
        position: relative;
        display: inline-block;
        width: 29%;
        .small{
            width: 30%;
            margin: 0;
            padding: 0;
        }
    }
    &-images{
        display: flex;
        justify-content: space-between;
    }
    &-image{
        width: 100%;
    }
    &-title{
        margin-top: 0.5em;
    }
    &-text{
        display: inline-block;
        width: 59.7%;
        p{
            font-size: 16px;
        }
    }
}
.Table{
    width: 84.4%;
    align-self: center;
    display: flex;
    justify-content: center;
    position: relative;
    padding-top: 5%;
    margin-bottom: 5%;
    padding-bottom: 5%;
    table{
        width: 89.9%;
        border-collapse: collapse;
    }
}
th{
    background-color: #201e1e;
    color: #f7cf18;
    height: 8em;
    font-weight: 500;
}
td{
    height: 4em; 
    width: 13.5%; 
    background-color: #ffffff;  
    border-left: 1px solid #777777;
    border-right: 1px solid #777777;
}
tr{
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    box-sizing: border-box;
}
td:first-child{
    width: 19%;
}