.Cards{
    width: 82.6%;
    align-self: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    position: relative;
    margin-bottom: 5%;
    .Card-product{
        display: flex;
        align-items: center;
        flex-flow: column nowrap;
        width: 47.1%;
        background-color: #f7cf18;
        padding-top: 2.5em;        
        margin-top: 4%;
        .Card-image{
            width: 87.5%;
        }
        .Card-title{
            width: 87.5%;
            font-size: 27.5px;
            margin-bottom: 0.5em;
        }
        .Card-text{
            width: 87.5%;
            font-size: 16px;
            margin: 0;
        }
        .Watch-Products{
            margin-bottom: 3em;
        }
    }
}